# Ignore everything 
*

# ... Except ...
!.gitignore

#.local/ folders
!.local/
!.local/bin/
!.local/bin/*
!.local/bin/statusbar/
!.local/bin/statusbar/*

!.local/share/applications/file.desktop
!.local/share/applications/img.desktop
!.local/share/applications/text.desktop
!.local/share/applications/video.desktop
!.local/share/applications/browser.desktop

#.config/ folders
!.config/

!.config/git/
!.config/git/*

!.config/mimeapps.list

!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/core/
!.config/nvim/lua/core/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*

!.config/emacs/
!.config/emacs/init.el
!.config/emacs/core/
!.config/emacs/core/*
!.config/emacs/themes/
!.config/emacs/themes/yellowbeans-theme.el
!.config/emacs/themes/gremble-gruber-theme.el

!.config/X11/
!.config/X11/*

!.config/bspwm/
!.config/bspwm/*

!.config/sxhkd/
!.config/sxhkd/*

!.config/picom/
!.config/picom/*

!.config/rofi/
!.config/rofi/*

!.config/BetterDiscord/data/stable/custom.css

!.config/zsh/
!.config/zsh/*

!.config/alacritty/
!.config/alacritty/*

!.config/tmux/
!.config/tmux/*

!.config/polybar/
!.config/polybar/*

!.config/lf/
!.config/lf/*

# The following configs are no longer used
!.config/i3/
!.config/i3/*

!.config/hypr/
!.config/hypr/*
